:host {

  .node.with-children {
    fill: #999999;

    >.circle {
      fill: #555555;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
    }

    >.label {
      fill: #000000;
      text-anchor: end;
    }

    &.root > .label {
      text-anchor: start;
    }
  }

  .node.leaf {
    fill: none;
    pointer-events: all;
    cursor: pointer;

    .label {
      fill: #000000;
      text-anchor: start;
    }
  }

  .node {
    fill: #ffffff;
    stroke: #555555;
    stroke-opacity: 0.4;
    stroke-width: 1.5;
    transition: fill 1s ease;

    .label {
      fill: #000000;
      stroke-width: normal;
      text-anchor: end;
    }
  }

  .link {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.4;
    stroke-width: 1.5;
    transition: stroke-opacity 1s ease;

    &:hover {
      stroke-opacity: 1;
    }
  }

  .link {
    stroke-linejoin: round;
    stroke-width: 3;
  }
}