<svg [attr.width]="width + margin?.left + margin?.right" [attr.height]="height + margin?.top + margin?.bottom">
  <g [attr.transform]="'translate(' + margin.left + ',' + margin.top + ')'">
    <!-- Render Nodes -->
    <g class="node" [ngClass]="{ 'root': !node?.parent, 'with-children': !!node?.children, 'leaf': !node?.children }"  *ngFor="let node of nodes" [attr.transform]="'translate(' + node?.y + ',' + node?.x + ')'">
      <circle class="circle" r="10" (click)="toggleExpandCollapse(node)"></circle>
      <text class="label" dy="0.35em" [attr.x]="(node?.parent && !!node.children) ? -15 : 15" (click)="toggleExpandCollapse(node)">{{ node?.data?.name }}</text>
      <g appInsertIcon>
      </g>
    </g>

    <g class="link" *ngFor="let link of links">
      <path [attr.d]="getLinkPath(link)"></path>
    </g>
  </g>
</svg>
